<% layout('/layouts/boilerplate') -%>


<body>
  <!-- Contact Page -->
  <div class="static-page">
    <h1>Contact Us</h1>
    <p>
      Have a question, concern, or feedback? We're here to help you with anything you need regarding your WanderLust experience.
    </p>
    
    <ul>
      <li>
        <strong>Email:</strong> 
        <a href="mailto:support@wanderlust.com">support@wanderlust.com</a>
        <span class="response-time">(Response within 24 hours)</span>
      </li>
      <li>
        <strong>Phone:</strong> 
        <a href="tel:+919876543210">+1 (415) 555-0198</a>
        <span class="availability">(10AM - 7PM, Monday to Saturday)</span>
      </li>
      <li>
        <strong>Office:</strong> WanderLust Inc. 123 Adventure Lane, Suite 200 San Francisco, CA 94105United States
      </li>
    </ul>
    
    <p class="social-cta">
      Connect with us on social media: 
      <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
      <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
      <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
    </p>
  </div>

  <!-- Font Awesome for icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</body>